.Loading {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid lightgray;
  border-radius: 50%;
  border-top-color: darkred;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
